$filter-width: 30%;
$filter-color: #ffffff;
$filter-pad: 40px;
$filter-font-color: lighten(#000000, 30%);
$main-color: #fefafa;
$main-pad: 40px;
$main-font-color: lighten(#000000, 30%);
$toggle-off: #ffffff;
$toggle-on: #5f0b9a;
$border-color: darken($main-color, 8%);
$border-radius: 3px;

.filters {
  width: $filter-width;
  height: 100vh;
  overflow: scroll;
  background-color: $filter-color;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: $filter-pad ($filter-pad - 10px);
  color: $filter-font-color;
  border-right: 1px solid $border-color;
  position: absolute;
  left: 0;
  top: 0;
  .brand {
    text-align: center;
    font-size: 26px;
  }
  .search {
    padding: 10px;
    background-color: $main-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    width: 100%;
    font-size: 14px;
    margin-top: $filter-pad;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 30px;
    color: $toggle-on;
  }
  .radio {
    .option {
      margin-bottom: 10px;
    }
    .ticker {
      width: 15px;
      height: 15px;
      background-color: $main-color;
      border: 1px solid $border-color;
      transition: .5s;
      display: inline-block;
      margin-right: 8px;
      border-radius: $border-radius;
      &.active {
        background-color: $toggle-on;
        border-color: darken($toggle-on, 10%);
      }
    }
    .text {
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      font-size: 12px;
      padding: 2px 0;
    }
  }
  .cookies {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    .radio {
      padding: $filter-pad ($filter-pad - 10px) 10px;
    }
    .emergency {
      background-color: lighten($toggle-on, 65%);
      border-top: 1px solid lighten($toggle-on, 60%);
      font-size: 14px;
      box-sizing: border-box;
      padding: 20px ($filter-pad - 10px);
    }
  }
}
.main {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: $main-color;
  padding-left: $filter-width;
  box-sizing: border-box;
  color: $main-font-color;
  .toggle {
    width: 60%;
    margin: $main-pad auto 0;
    overflow: auto;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    font-size: 10px;
    text-transform: uppercase;
    .stories,
    .services {
      background-color: $toggle-off;
      width: 50%;
      float: left;
      padding: 10px 0;
      box-sizing: border-box;
      text-align: center;
      transition: .5s;
      cursor: pointer;
      &.active {
        background-color: $toggle-on;
        color: #ffffff;
      }
    }
  }
  .results {
    overflow: auto;
    width: 100%;
    padding: ($main-pad / 2) $main-pad $main-pad;
    box-sizing: border-box;
    .snippet {
      width: calc(30% - 2px);
      cursor: pointer;
      height: 240px;
      margin-right: 1.5%;
      margin-left: 1.5%;
      float: left;
      background-color: $filter-color;
      margin-top: $main-pad / 2;
      margin-bottom: $main-pad / 2;
      border-radius: $border-radius;
      overflow: hidden;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);
      &.chosen {
        background-color: $toggle-on;
        color: $filter-color;
        .short {
          color: $filter-color;
        }
      }
    }
    .graphic {
      height: 140px;
      width: 100%;
      background-color: $toggle-on;
      background-size: cover;
      background-position: center;
      box-shadow: inset 0 -30px 30px -30px rgba(0, 0, 0, 0.2);
    }
    .content {
      box-sizing: border-box;
      padding: 10px;
      font-size: 12px;
      .title {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .short {
        color: lighten($main-font-color, 20%);
      }
    }
  }
  .magic {
    width: 100%;
    padding: $main-pad;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $filter-color;
    float: left;
    margin-top: $main-pad / 2;
    margin-bottom: $main-pad / 2;
    margin-left: -$main-pad;
    margin-right: -$main-pad;
    .title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .text {
      font-size: 16px;
    }
  }
}
